extends layout

block content
  h2 Waa maxay cinwaankani?
  p Dad farabadan oo somali kuhadla waxa ku adag inay bilaabaan 
    | gaadhi wadista gobolka Ohio taasi oo keenta inay ku soo 
    | dhacaan imtaxaanka bilowga(bermid) ee barashada. Muhiimada
    | websitekani waa ina dadkaas laga caawiyo, intaa aan weli baran
    | luqadda Englishta, iney soo qaataan bermidka gobolka Ohio.
  P Sidaa darteed, cinwaankan waxaad kahaleysaa baraaktiiska casharro xeeldhaar
  |oo laga soo dheehdey buugga diyaargarowga imtaxaanka ee BMV. Waxaanu
  |uqaybsanyahay cinwaankani markaad gudaha gasho ee aad account cusub
  |sammaysato, dhowr qaybood, si qofku marba qayb u baran karo.
  P haddii aad su aalo qabto, 
    a(href="feedback") nala soo xidhiidh. 
    |amma
    a(href="signUpGet") account cusub samayso
      
      