extends layout

block content
  nav(id="top")
    a(href="about") Waa maxay cinwaankani?
    a(href="ogaysiis") Ogaysiis
  div(id="frontLinks")
    h2(id="homeH2")= title
    p Haddii ay imika kuugu horreyso
    a(href="/signUpGet" class="entryButtons") Account Cusub Sameyso
    p haddii kalena
    a(href="/loginGet" class="entryButtons") Soogal 
      
      