extends layout

block content
  a(href="/") dib Unoqo
  h2 Ogaysiis
  p Cinwaankani lama xidhiidhsana BMV Ohio. Kaliya waa soo bandhigga buugga digest of Ohio si baraaktiis ah. 
  | taasi oo ka kooban xiagashooyin, soo koobid iyo qeexitaanno. Hadii aad so aalo qabto
  a(href="feedback") nala soo xidhiidh
      
      